.padding-left-right {
	padding-left: 200px;
	padding-right: 200px;
}

.border{
	border: black solid 1px;
	border-radius: 2px;
}

.custom-form-control {
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: azure;
	background-image: none;
	border: 1px solid darkseagreen;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
		ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
		.15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.custom-form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px darkseagreen(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px darkseagreen(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.header-background{
	background-color: darkseagreen;
}

.custom-btn-primary {
color: #fff;
background-color: darkseagreen;
border-color: darkseagreen;
width: 7%;
}